{% extends 'pm/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Produtos{% endblock %}

{% block content %}
    <h2 class="h3">Produtos</h2>
    <li><a class="golink" href="{% url "pm:add_product" %}">Add a product</a></li>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Referência</th>
          <th>Descrição</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Column content</td>
          <td>Column content</td>
          <td><a class="golink" href="{% url "pm:index" %}">go home</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="info">
          <td>3</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="success">
          <td>4</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="danger">
          <td>5</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="warning">
          <td>6</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="active">
          <td>7</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
{% endblock %}