{% extends 'pm/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Detalhe do Produto {{ object.name }}{% endblock %}

{% block content %}

    <h3>{{ object }}</h3>
    <br>
    <br>

    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Referência</th>
                <th>Descrição</th>
                <th>Cor</th>
                <th>Medida</th>
                <th>Quantidade</th>
            </tr>
            </thead>
            <tbody>
            {% for quantity in product.get_quantity_list %}
                <tr>
                    <td>{{ quantity.component.ref_code }}</td>
                    <td>{{ quantity.component.name }}</td>
                    <td>{{ quantity.component.color }}</td>
                    <td>{{ quantity.component.size }}</td>
                    <td>{{ quantity.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <p>
        <a class="btn btn-primary" href="{% url 'pm:modify_product' object.id %}">Modify (WIP) </a>
        <a class="btn btn-default" href="{% url 'pm:products' %}">Feito</a>
    </p>

{% endblock %}